@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .nav-item{
        @apply text-white/70 font-semibold px-4 py-1.5 rounded-full text-sm hover:bg-white/10 text-white transition duration-300 ;
    }

    .hero-ring{
        @apply absolute inset-0 rounded-full border-2 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 border-emerald-300/5 shadow-[0_0_80px_inset] shadow-emerald-300/5;
    }
}

@layer utilities {
    @keyframes move-left {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }

    @keyframes move-right {
        0% {
            transform: translateX(-50%);
        }
        100% {
            transform: translateX(0%);
        }
    }

    .animate-move-left {
        animation: move-left linear infinite;
    }

    .animate-move-right {
        animation: move-right linear infinite;
    }
}